.choose
{
    border-style:groove;
    background-color: rgb(7, 22, 20);
    color:blanchedalmond;
    font-weight: bold;
    font-size: calc(20px + 2vmin);
    font-family: 'Potta One', cursive;
    margin-bottom: 36px;
}
.choose:hover
{
    color:darkgoldenrod;
    border-color:bisque;
}