.categories>a>p
{
    border-style: groove;
    background-color:lemonchiffon;
    border-color:lemonchiffon;
    border-radius:2px;
    font-family: 'Potta One', cursive;
    text-align: left;
}
.categories>a>p:hover
{
  text-decoration: none;
  border-color:burlywood;
}
.categories>a
{
    text-decoration: none;
    border-color:burlywood;
}
