.congratulations
{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Potta One', cursive;
    border-style: groove;
    background-color:burlywood;
    color:rgb(33, 88, 56);
    border-color:gray;
  

}