.App {
  text-align: center;
}
.white
{
  color:white;
  background-color: black;
  height: 100px;
  width: 100px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.info 
{
  background-color: burlywood;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  border: 2px;
  border-color: gray ;
  border-style: groove;
 
}
.info>div
{
  border-bottom-style: groove;
  border-bottom-color: gray;
}

